In [1]:
# Import pandas for DataFrame
import pandas as pd

In [2]:
# Identify files
schools_file = "Resources/schools_complete.csv"
students_file = "Resources/students_complete.csv"

In [3]:
# Load schools csv into a DataFrame
og_schools_df = pd.read_csv(schools_file, encoding="utf8")

og_schools_df.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [4]:
# Load students csv into a DataFrame
og_students_df = pd.read_csv(students_file, encoding="utf8")

og_students_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [5]:
# Rename columns
renamed_schools_df = og_schools_df.rename(columns= {"school_name": "School Name",
                                                "type": "Type",
                                                "size": "Size",
                                                "budget": "Budget"})
renamed_schools_df.head()

   School ID            School Name      Type  Size   Budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
# Rename columns
renamed_students_df = og_students_df.rename(columns= {"student_name": "Student Name",
                                                  "gender": "Gender",
                                                  "grade": "Grade",
                                                  "school_name": "School Name",
                                                  "reading_score":"Reading Score",
                                                  "math_score": "Math Score"})
renamed_students_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
#students_df = renamed_students_df.set_index("School Name")

In [8]:
#schools_df = renamed_schools_df.set_index("School Name")

In [11]:
# District: Total Schools
total_schools = renamed_schools_df["School ID"].count()

print(total_schools)

15

In [12]:
# District: Total Students
total_students = renamed_students_df["Student ID"].count()

print(total_students)

39170

In [14]:
# District: Total Budget
total_budget = renamed_schools_df["Budget"].sum()

print(total_budget)

24649428

In [15]:
# District: Average Math Score
avg_math = renamed_students_df["Math Score"].mean()

print(avg_math)

78.98537145774827

In [16]:
# District: Average Reading Score
avg_reading = renamed_students_df["Reading Score"].mean()

print(avg_reading)

81.87784018381414

In [17]:
# Find min and max of math score
renamed_students_df["Math Score"].describe()

count    39170.000000
mean        78.985371
std         12.309968
min         55.000000
25%         69.000000
50%         79.000000
75%         89.000000
max         99.000000
Name: Math Score, dtype: float64

In [18]:
# Find min and max of reading score
renamed_students_df["Reading Score"].describe()

count    39170.00000
mean        81.87784
std         10.23958
min         63.00000
25%         73.00000
50%         82.00000
75%         91.00000
max         99.00000
Name: Reading Score, dtype: float64

In [26]:
# District: % Passing Math
# Passing Score: 70?
passed_math_df = renamed_students_df.loc[renamed_students_df["Math Score"] > 70, ["Student ID", "Student Name", "Gender", "Grade", 
                                                                "School Name", "Math Score", "Reading Score"]]
passed_math_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Math Score,Reading Score
0,0,Paul Bradley,M,9th,Huang High School,79,66
4,4,Bonnie Ray,F,9th,Huang High School,84,97
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,80,82
8,8,Michael Roth,M,10th,Huang High School,87,95

In [27]:
# Number of Students: Passed Math
stu_passed_math = passed_math_df["Student ID"].count()

print(stu_passed_math)

28356

In [28]:
# District: % Passing Reading
# Passing Score: 70?
passed_reading_df = renamed_students_df.loc[renamed_students_df["Reading Score"] > 70, ["Student ID", "Student Name", "Gender", "Grade", 
                                                               "School Name", "Reading Score", "Math Score"]]
passed_reading_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80

In [29]:
# Number of Students: Passed Reading
stu_passed_reading = passed_reading_df["Student ID"].count()

print(stu_passed_reading)

32500

In [30]:
# District: % Overall Passing
# Passing Score: 70?
passed_both_df = passed_math_df.loc[passed_math_df["Reading Score"] > 70, ["Student ID", "Student Name", "Gender", "Grade", 
                                           "School Name", "Reading Score", "Math Score"]]
passed_both_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [31]:
# Number of Students: Passed Both Math & Reading
stu_passed_both = passed_both_df["Student ID"].count()

print(stu_passed_both)

23816

In [32]:
# District: % Passing Math
per_passing_math = stu_passed_math / total_students

print(per_passing_math)

0.7239213683941792

In [33]:
# District: % Passing Reading
per_passing_reading = stu_passed_reading / total_students

print(per_passing_reading)

0.8297166198621394

In [34]:
# District: % Overall Passing
per_passing_both = stu_passed_both / total_students

print(per_passing_both)

0.6080163390349758

In [35]:
# District Metrics Summary Table
district_metrics_df = pd.DataFrame({"Total Schools": [total_schools], 
                                    "Total Students": [total_students],
                                    "Total Budget": [total_budget], 
                                    "Average Math Score": [avg_math], 
                                    "Average Reading Score": [avg_reading],
                                    "% Passing Math": [per_passing_math], 
                                    "% Passing Reading": [per_passing_reading], 
                                    "% Passing Both": [per_passing_both]})

district_metrics_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both
0,15,39170,24649428,78.985371,81.87784,0.723921,0.829717,0.608016

In [36]:
# All Students
grouped_metrics = renamed_students_df.groupby(["School Name"])

# grouped_metrics["Student ID"].count().head(15)

In [37]:
# Put student ID count into a Data Frame
student_ID_metrics_df = pd.DataFrame(grouped_metrics["Student ID"].count())
# Rename column
student_ID_metrics_df = student_ID_metrics_df.rename(columns={"Student ID": "Total Students"})
student_ID_metrics_df

                       Total Students
School Name
Bailey High School               4976
Cabrera High School              1858
Figueroa High School             2949
Ford High School                 2739
Griffin High School              1468
Hernandez High School            4635
Holden High School                427
Huang High School                2917
Johnson High School              4761
Pena High School                  962
Rodriguez High School            3999
Shelton High School              1761
Thomas High School               1635
Wilson High School               2283
Wright High School               1800

In [38]:
# Put Mean Scores into a DataFrame
scores_metrics_df = pd.DataFrame(grouped_metrics.mean())
# Remove student ID average
scores_metrics_df = scores_metrics_df[["Reading Score", "Math Score"]]
# Rename Columns
scores_metrics_df = scores_metrics_df.rename(columns={"Reading Score": "Average Reading Score",
                                             "Math Score": "Average Math Score"})
scores_metrics_df

                       Average Reading Score  Average Math Score
School Name
Bailey High School                 81.033963           77.048432
Cabrera High School                83.975780           83.061895
Figueroa High School               81.158020           76.711767
Ford High School                   80.746258           77.102592
Griffin High School                83.816757           83.351499
Hernandez High School              80.934412           77.289752
Holden High School                 83.814988           83.803279
Huang High School                  81.182722           76.629414
Johnson High School                80.966394           77.072464
Pena High School                   84.044699           83.839917
Rodriguez High School              80.744686           76.842711
Shelton High School                83.725724           83.359455
Thomas High School                 83.848930           83.418349
Wilson High School                 83.989488           83.274201
Wright High School                 83.955000           83.682222

In [39]:
# Merge total students with average scores
grouped_metrics_df = pd.merge(student_ID_metrics_df, scores_metrics_df, on="School Name")
grouped_metrics_df

,Total Students,Average Reading Score,Average Math Score
School Name,,,
Bailey High School,4976,81.033963,77.048432
Cabrera High School,1858,83.975780,83.061895
Figueroa High School,2949,81.158020,76.711767
Ford High School,2739,80.746258,77.102592
Griffin High School,1468,83.816757,83.351499
Hernandez High School,4635,80.934412,77.289752
Holden High School,427,83.814988,83.803279
Huang High School,2917,81.182722,76.629414
Johnson High School,4761,80.966394,77.072464
Pena High School,962,84.044699,83.839917
Rodriguez High School,3999,80.744686,76.842711
Shelton High School,1761,83.725724,83.359455
Thomas High School,1635,83.848930,83.418349
Wilson High School,2283,83.989488,83.274201
Wright High School,1800,83.955000,83.682222

In [40]:
# Merge previous grouped metrics with school metrics
merged_df = pd.merge(grouped_metrics_df, renamed_schools_df, on="School Name")
# Rename columns
merged_df = merged_df.rename(columns={"Type": "School Type", "Budget": "Total School Budget"})  
# Reorder columns
merged_df = merged_df[["School Name", "School Type", "Total Students", "Total School Budget", 
                       "Average Math Score", "Average Reading Score"]]
# Create 'per student budget' column
merged_df["Per Student Budget"] = merged_df["Total School Budget"] / merged_df["Total Students"]

merged_df

,School Name,School Type,Total Students,Total School Budget,Average Math Score,Average Reading Score,Per Student Budget
0,Bailey High School,District,4976,3124928,77.048432,81.033963,628.0
1,Cabrera High School,Charter,1858,1081356,83.061895,83.975780,582.0
2,Figueroa High School,District,2949,1884411,76.711767,81.158020,639.0
3,Ford High School,District,2739,1763916,77.102592,80.746258,644.0
4,Griffin High School,Charter,1468,917500,83.351499,83.816757,625.0
5,Hernandez High School,District,4635,3022020,77.289752,80.934412,652.0
6,Holden High School,Charter,427,248087,83.803279,83.814988,581.0
7,Huang High School,District,2917,1910635,76.629414,81.182722,655.0
8,Johnson High School,District,4761,3094650,77.072464,80.966394,650.0
9,Pena High School,Charter,962,585858,83.839917,84.044699,609.0
10,Rodriguez High School,District,3999,2547363,76.842711,80.744686,637.0
11,Shelton High School,Charter,1761,1056600,83.359455,83.725724,600.0
12,Thomas High School,Charter,1635,1043130,83.418349,83.848930,638.0
13,Wilson High School,Charter,2283,1319574,83.274201,83.989488,578.0
14,Wright High School,Charter,1800,1049400,83.682222,83.955000,583.0

In [41]:
# Create a group by for passing math, passing reading, and overall passing metrics
passed_math_groupby = passed_math_df.groupby(["School Name"])

passed_reading_groupby = passed_reading_df.groupby(["School Name"])

passed_both_groupby = passed_both_df.groupby(["School Name"])

In [42]:
# Put passing math metrics into Data Frames
passed_math_metrics_df = pd.DataFrame(passed_math_groupby["Student ID"].count())
# Rename column
passed_math_metrics_df = passed_math_metrics_df.rename(columns={"Student ID": "Num Passing Math"})
#passed_math_metrics_df

# Put passing reading metrics into Data Frames
passed_reading_metrics_df = pd.DataFrame(passed_reading_groupby["Student ID"].count())
# Rename column
passed_reading_metrics_df = passed_reading_metrics_df.rename(columns={"Student ID": "Num Passing Reading"})
#passed_reading_metrics_df

# Put overall passing metrics into Data Frames
passed_both_metrics_df = pd.DataFrame(passed_both_groupby["Student ID"].count())
# Rename column
passed_both_metrics_df = passed_both_metrics_df.rename(columns={"Student ID": "Num Overall Passing"})
#passed_both_metrics_df

In [43]:
# Merge Passing number Metrics
passing_metrics_df = pd.merge(passed_math_metrics_df, passed_reading_metrics_df, on="School Name")
passing_metrics_df = pd.merge(passing_metrics_df, passed_both_metrics_df, on="School Name")
passing_metrics_df

,Num Passing Math,Num Passing Reading,Num Overall Passing
School Name,,,
Bailey High School,3216,3946,2545
Cabrera High School,1664,1744,1561
Figueroa High School,1880,2313,1472
Ford High School,1801,2123,1405
Griffin High School,1317,1371,1228
Hernandez High School,3001,3624,2325
Holden High School,387,396,359
Huang High School,1847,2299,1456
Johnson High School,3040,3727,2371
Pena High School,882,887,816
Rodriguez High School,2562,3109,1977
Shelton High School,1583,1631,1465
Thomas High School,1475,1519,1378
Wilson High School,2076,2129,1938
Wright High School,1625,1682,1520

In [44]:
# Merged passing number metrics with previous merged dataframe
school_merged_df = pd.merge(merged_df, passing_metrics_df, on="School Name")
# Calculated % passing
school_merged_df["% Passing Math"] = school_merged_df["Num Passing Math"] / school_merged_df["Total Students"]
school_merged_df["% Passing Reading"] = school_merged_df["Num Passing Reading"] / school_merged_df["Total Students"]
school_merged_df["% Overall Passing"] = school_merged_df["Num Overall Passing"] / school_merged_df["Total Students"]

school_merged_df

,School Name,School Type,Total Students,Total School Budget,Average Math Score,Average Reading Score,Per Student Budget,Num Passing Math,Num Passing Reading,Num Overall Passing,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,4976,3124928,77.048432,81.033963,628.0,3216,3946,2545,0.646302,0.793006,0.511455
1,Cabrera High School,Charter,1858,1081356,83.061895,83.975780,582.0,1664,1744,1561,0.895587,0.938644,0.840151
2,Figueroa High School,District,2949,1884411,76.711767,81.158020,639.0,1880,2313,1472,0.637504,0.784334,0.499152
3,Ford High School,District,2739,1763916,77.102592,80.746258,644.0,1801,2123,1405,0.657539,0.775100,0.512961
4,Griffin High School,Charter,1468,917500,83.351499,83.816757,625.0,1317,1371,1228,0.897139,0.933924,0.836512
5,Hernandez High School,District,4635,3022020,77.289752,80.934412,652.0,3001,3624,2325,0.647465,0.781877,0.501618
6,Holden High School,Charter,427,248087,83.803279,83.814988,581.0,387,396,359,0.906323,0.927400,0.840749
7,Huang High School,District,2917,1910635,76.629414,81.182722,655.0,1847,2299,1456,0.633185,0.788138,0.499143
8,Johnson High School,District,4761,3094650,77.072464,80.966394,650.0,3040,3727,2371,0.638521,0.782819,0.498005
9,Pena High School,Charter,962,585858,83.839917,84.044699,609.0,882,887,816,0.916840,0.922037,0.848233
10,Rodriguez High School,District,3999,2547363,76.842711,80.744686,637.0,2562,3109,1977,0.640660,0.777444,0.494374
11,Shelton High School,Charter,1761,1056600,83.359455,83.725724,600.0,1583,1631,1465,0.898921,0.926178,0.831914
12,Thomas High School,Charter,1635,1043130,83.418349,83.848930,638.0,1475,1519,1378,0.902141,0.929052,0.842813
13,Wilson High School,Charter,2283,1319574,83.274201,83.989488,578.0,2076,2129,1938,0.909330,0.932545,0.848883
14,Wright High School,Charter,1800,1049400,83.682222,83.955000,583.0,1625,1682,1520,0.902778,0.934444,0.844444

In [45]:
# SCHOOL SUMMARY METRICS
school_merged_df = school_merged_df[["School Name", "School Type", "Total Students", "Total School Budget", "Per Student Budget",
                                    "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]

school_merged_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.646302,0.793006,0.511455
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.895587,0.938644,0.840151
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.637504,0.784334,0.499152
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.657539,0.775100,0.512961
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.897139,0.933924,0.836512
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.647465,0.781877,0.501618
6,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.906323,0.927400,0.840749
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.633185,0.788138,0.499143
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.638521,0.782819,0.498005
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.916840,0.922037,0.848233
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.640660,0.777444,0.494374
11,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.898921,0.926178,0.831914
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.902141,0.929052,0.842813
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.909330,0.932545,0.848883
14,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.902778,0.934444,0.844444